*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    font-size: 18px;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.header{
    height: 80px;
    width: 90%;
    background-color: rgb(255, 141, 35);
    border-radius: 3px;
    margin: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.header .logo{
    font-size: 30px;
    font-weight: bold;
    color: white;
}
.cart{
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    border-radius: 3px;
    width: 80px;
}
.fa-solid{
    color: rgb(255, 141, 35);
}
.cart p{
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    background-color: rgb(255, 141, 35);
    color: white;
}
.cart__containter{
    display: flex;
    width: 70%;
    margin-bottom: 30px;
}
#root{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.sidebar{
    width: 30%;
    border-radius: 5px;
    background-color: #eee;
    margin-left: 20px;
    padding: 15px;
    text-align: center;
}
.head{
    
    background-color: rgb(255, 141, 35);
    border-radius: 3px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    display: flex;
    align-items: center;
}
.foot{

    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 10px 0px;
    border-top: 1px solid #333;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(255, 141, 35);
    border-radius: 5px;
    padding: 15px;
}
.img-box{
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.images{
    max-width: 90%;
    max-height: 90%;
    object-fit: cover;
    object-position: center;
}
.bottom{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 110px;
}
h2{
    font-size: 20px;
    color: red;
}
button{
    width: 100%;
    position: relative;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 141, 35);
    padding: 7px 25px;
    cursor: pointer;
    color: white;
}
button:hover{
    background-color: #333;
}
.cart-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid #aaa;
    border-radius: 3px;
    margin: 10px 10px;
}
.row-img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid rgb(255, 141, 35);
    display: flex;
    align-items: center;
    justify-content: center;
}
.rowimg{
    max-width: 43px;
    max-height: 43px;
    border-radius: 50%;
}
.fa-trash:hover{
    cursor: pointer;
    color: #333;
}



@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2? family = Lobster & display = swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@300&family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Lobster&family=Roboto:wght@300&family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shalimar&display=swap');
:root {
    --main-text-font:'Roboto','sans-serif';
    --logo-text-font: 'Anton', 'sans-serif';
    --font-family: 'Sigmar One', 'cursive';
    --font: 'Fuzzy Bubbles', 'cursive';
    --font-family: 'Shalimar', 'cursive';
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
.container {
    max-width: 1024px;
    margin: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
header {
    background-image: url(../img/p1.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 99vw;
    height: 10vh;
    position: relative;
}
.bg-image {
    position: absolute;
    content:"";
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.2;
}
.top {
    position: absolute;
    width: 100%;
    z-index: 1;
}
.header-top {
    justify-content: space-between;
    padding: 12px 0;
    align-items: center;
}
.header-top p {
    font-family:var(--logo-text-font);
    font-size: 25px;
    letter-spacing: 2px;
    color: rgb(255, 141, 35) ;
    font-weight: bold;
}
.header-top ul {
    display:flex;
}
.header-top ul>i {
    font-size: 32px;
    color: white;
    margin: 12px 0 0 12px;
    cursor: pointer;
}
.header-top ul li{
    margin-left: 12px;
    position:relative;
    color: rgb(255, 141, 35) ;
}
.header-top ul li::after {
    position:absolute;
    content:"";
    display:block;
    bottom: -2px;
    height: 4px;
    width: 0%;
    left: 50%;
    transform: translateX(-50%);
    background-color:rgb(255, 141, 35) ;
    border-radius: 5px;
    transition:all 0.5s ease;
}
.header-top ul li:hover::after {
    width: 100%;
}
.header-top ul li a {
    font-family: var(--main-text-font);
    color: white;
    font-weight: bold;
}
.header-top ul i {
    font-size: 32px;
    color: white;
    margin: 12px 0 0 12px;  
    cursor: pointer;
    margin-bottom: 150px;
    display:none;
}
.header-top>i{
    font-size: 32px;
    color:rgb(255, 141, 35) ;
    cursor: pointer;
    display: none;
}
.header-top span {
    position: relative;
}
.header-top span input {
    height: 23px;
    width: 100%;
    border-radius: 3px;
    border: none;
    padding-left: 15px;
    outline: none;
}
.header-top span>i {
    position: absolute;
    font-size: 15px;
    right: 12px;
    line-height: 23px;
    cursor: pointer;
}
.header-text {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    max-width: 700px;
    min-width: 370px;
    text-align:center;
    font-size: 120%;
    color:white;
}
.header-text H1 {
    font-family: var(--main-text-font);
    font-weight: bold;
    margin-bottom: 20px;
    font-size:  32px;
}
.header-text p {
    font-family: var(--font);
    color: rgb(252, 207, 148);
}
.header-text span {
    font-family:Georgia, 'Times New Roman', Times, serif ;
    color: rgb(255, 141, 35) ;
}
.header-text button {
    width:150px;
    height:40px;
    margin-top: 20px;
    background-color: transparent;
    color:white;
    border: 3px solid  rgb(255, 141, 35);
    cursor: pointer;
    font-size:17px ;
}
.header-text button:hover {
    background-color:  rgb(255, 141, 35);
    transition: all 0.3s ease;
}
@media (max-width: 575px) {
    .header-top ul {
        position:fixed;
        width: 200px;
        height:100vh;
        background-color: rgb(255, 141, 35);
        right: 0;
        top: 0;
        flex-direction: column;
        transform: translateX(100%);
        opacity: 0;
        transition:all 0.4s ease;
    }
    .header-top ul li {
        margin-bottom: 20px;
        margin-left: 50px;
    }
    .header-top>i {
        display: block;
    }
    .header-top ul>i {
        display: block;
    }
    .header-top {
        padding: 0 12px;
    }
}
body { 
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #111;
    line-height: 1,15;
}
#wrapper{
    width: 1170px;
    margin: 0 auto;
}
h3 {
    font-size: 18px;
    color:#4f4f4f;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px solid #bebebe;
    display:inline-block;
}
.headline {
    text-align: center;
    margin: 40px 0px;

}

/* phần liên hệ */
.lienhe {
    padding-top: 80px;
    position:relative;
}
.lienhe-bg{
    position:absolute;
    Width: 100%;
    height: 100%;
    top: 0%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    background-image: url(../img/p1.jpg);
    z-index: -2;
}
.lienhe::before {
    position: absolute;
    content:"";
    width: 100%;
    height:100%;
    background-color: black;
    opacity: 0.2;
    z-index: -1;
    top:-1%;
}
.justify-content {
    display: flex;
}
.lienhe-muc {
    text-align: center;
    width: calc(100%/3)
}
.lienhe-muc i {
    color:#fff;
    font-size: 25px;
    margin-right: 12px;
    cursor:pointer;
}
.lienhe-muc i:hover {
    color:rgb(255, 161, 20);
}
.lienhe h2 {
    color: white;
    font-size: 20px;
}
.lienhe p {
    color: white;
    margin: 12px 0;
}
.lienhe-copyright {
    text-align: center;
    padding: 10px 50px 12px;
    color:#fff;
    border-top: 1px solid rgb(255, 255, 255);
}